<form action="/trips" method="post"> <!-- Start add trip form-->
    <label for="name">Name</label>
    <input
        id="name"
        type="text"
        name="name"
        value="{{ trip.name if trip else "" }}"
    /> <!-- Name input -->
    <label for="description">Description</label>
    <input
        id="description"
        type="text"
        name="description"
        value="{{ trip.description if trip else "" }}"
    /> <!-- Description input -->
    <label for="startDate">Start Date</label>
    <input
        id="startDate"
        type="date"
        name="startDate"
        value=""
    /> <!-- Start date input -->
    <label for="endDate">End Date</label>
    <input
        id="endDate"
        type="date"
        name="endDate"
        value=""
    /> <!-- End date input -->
    <input
        id="tripId"
        type="hidden"
        name="tripId"
        value="{{ trip.id if trip else "" }}"
    /> <!-- Activity tripId input -->
    <input type="submit" value="Submit" /> <!-- New trip submit button -->
</form> <!-- End add trip form -->