body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-activity,
.add-trip,
.update-trip {
  display: none;
  margin-top: 1rem;
}

.trip {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.trip-name {
  font-weight: bold;
}

.activities {
  margin-left: 1rem;
}
